<!DOCTYPE html>
<html>
    <head>
        <title>Income</title>
    </head>
    <body>
        <h1>Actuals</h1>
        <form method="get" action="/view">
            <input type="submit" value="Next Page">
        </form>
    </body>
</html>