<!DOCTYPE>
<html>
    <head>
        <link href="style.css" rel="stylesheet">
        <script>
            function postExpenses(){
                var form = document.getElementById("postExpenses");
                form.submit();
            }
        </script>
    </head>
    <body>
        <div class="back-image">
            <div class="center">
                <form method="post" action="/postExpenses" id="postExpenses">
                    <div class="row">
                        <div class="containerH">
                            <h1>Define Monthly Expenses</h1>
                        </div>
                    </div>
                    <div class="row">
                        <input type="number" name="rent" class="inp" value=""> Rent / Mortgage
                    </div>
                    <div class="row">
                        <input type="number" name="car" class="inp" value=""> Car Payment
                    </div>
                    <div class="row">
                        <input type="number" name="ins" class="inp" value=""> Insurance
                    </div>
                    <div class="row">
                        <input type="number" name="util" class="inp" value=""> Utilities
                    </div>
                    <div class="row">
                        <input type="number" name="gas" class="inp" value=""> Gas
                    </div>
                    <div class="row">
                        <input type="number" name="phn" class="inp" value=""> Phone
                    </div>
                    <div class="row">
                        <input type="number" name="food" class="inp" value=""> Food
                    </div>
                    <div class="row">
                        <input type="number" name="ent" class="inp" value=""> Entertainment
                    </div>
                    <div class="row">
                        <input type="number" name="tuit" class="inp" value=""> Tuition
                    </div>
                    <div class="row">
                        <input type="number" name="tith" class="inp" value=""> Tithing
                    </div>
                    <div class="row">
                        <div class="container" onclick="postExpenses()">Create Expenses</div>
                    </div>
                    <div class="spacer"></div>
                </form>
            </div>
        </div>
    </body>
</html>