<!DOCTYPE html>
<html>
    <head>
        <title>Income</title>
    </head>
    <body>
        <h1>Income</h1>
        <form method="post" action="/expenses">
            Yearly Income: <input type="number" name="yearly_income"><br>
            <h1>Deductions</h1>
            Federal Income Tax: <input type="number" name="fed_tax"><br><br>
            State Income Tax: <input type="number" name="state_tax"><br><br>
            Medicare: <input type="number" name="med_deduct"><br><br>
            Social Security: <input type="number" name="ss_deduct"><br><br>
            <input type="submit" value="Expenses">
        </form>
    </body>
</html>