<!DOCTYPE>
<html>
    <head>
        <link href="style.css" rel="stylesheet">
        <script>
            function deleteBudget(){
                var form = document.getElementById("deleteBudget");
                form.submit();
            }
        </script>
    </head>
    <body>
        <div class="back-image">
            <div class="center">
                <div class="row">
                    <div class="containerH">
                        <h1>Enter your Budget Id</h1>
                    </div>
                </div>
                <form action="/deleteBudget" method="post" id="deleteBudget">
                    <div class="row">
                        <input type="number" name="budgetId" class="inp">
                    </div>
                    <div class="row">
                        <div class="container" onclick="deleteBudget()">View</div>
                    </div>
                    <div class="spacer"></div>
                </form>
            </div>
        </div>
    </body>
</html>