<!DOCTYPE html>
<html>
    <head>
        <title> Project Home</title>
    </head>
    <body>
        <h1>Lets Determine Your Monthly Income</h1>
        <form action="/expenses" method="post">
            Salary: <input type="number" name="salary"><br><br>
            How Much Per Month Do You Pay For Federal Income Tax: <input type="number" name="fit" step="0.01"><br><br>
            How Much Per Month Do You Pay For State Income Tax: <input type="number" name="sit" step="0.01"><br><br>
            How Much Per Month Do You Pay For Medicare: <input type="number" name="mcare" step="0.01"><br><br>
            How Much Per Month Do You Pay For Social Security: <input type="number" name="ss" step="0.01"><br><br>
            <input type="submit" value="Calculate">
            <input type="reset" value="Reset">
        </form>
    </body>
</html>